<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         beStrictAboutChangesToGlobalState="true"
         verbose="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED" />
    </php>

    <testsuites>
        <testsuite name="mailTrap-library-tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
