name: Psalm Analyze

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - 'release/**'
      - 'feature/**'
      - 'main'

jobs:
  psalm-analyze:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-versions: [ '7.4','8.0','8.1','8.2' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        id: setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl, curl

      - name: Print PHP version
        run: echo ${{ steps.setup-php.outputs.php-version }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run Psalm analyze
        run: vendor/bin/psalm
