name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - 'release/**'
      - 'feature/**'
      - 'main'

jobs:
  phpunit-tests:
    name: PHP ${{ matrix.php-version }} Latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-version: [ '7.4','8.0','8.1','8.2' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        id: setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, curl

      - name: Print PHP version
        run: echo ${{ steps.setup-php.outputs.php-version }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer

      - name: Validate composer.json
        run: composer validate

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run phpunit tests
        run: composer test

  symfony:
    name: Symfony ${{ matrix.symfony }} LTS
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - symfony: '5'
            php-version: '7.4'
          - symfony: '6'
            php-version: '8.2'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: |
          composer config --no-plugins allow-plugins.symfony/flex true
          composer require --no-update --no-interaction --no-progress symfony/flex
          composer config extra.symfony.require ${{ matrix.symfony}}
          composer update --prefer-dist --no-interaction --prefer-stable --prefer-lowest --no-progress

      - name: Execute tests
        run: composer test
